.main {
    background-image: url("static files/bkgrd 1.png"),url("static files/bkgrd 2.png"),url("static files/bkgrd 3.png");
    background-size: 100% ;
}

.container{
    width: 80vw;
    margin: auto;
    padding: 0 0;
    max-width: 100% !important;
    /* padding-left: 10vw;
    padding-right: 10vw; */
 
}
.bg-dark{
    /* background-color: #2e2e2e; */
    /* background-color: #333333; */
   background-color: transparent !important;
   transition: 1.0s ease;
}
.bg-dark.scrolled{
    background: #333333 !important;
}

.nav-wrap{
    display: flex;
    justify-content: space-between;
}
.leftnav , .rightnav{
    /* border: 2px solid white; */
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
}
.midnav{
    border: 2px solid white;
    padding: 20px 0px;
    flex-grow: 1;
    height: 100%;
}

.leftnav a, .rightnav a{
    display: inline-block;
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px 0px;
    font-size: 2.5vh;
    text-decoration: none;
    font-style: Texta;
    font-weight: 500;
    color: white;
}

*{
    font-style: Texta;
    font-weight: 600;
    color: white;
}

#title{
    font-size: 25vh;
}
#register{
    font-size: 3vh;
    
}

#speaker-bg{
    background-image: url("/W7b3eDUb_2I.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    height: 40vh;
    width: 100%;
}

#speaker-name{
    font-size: 5vh;
}

#speaker-name::first-letter{
    color: #fc0144;
}


#speaker-company{
    font-size: 2vh;
}

#speaker-row{
    display: flex;
    justify-content: space-between;
}

footer{
    /* border: 2px solid white; */
    height: 60px;
    background: #333333;
    display: flex;
    align-items: center;
}

#FAQsection {
    
} 

#faqbutton {
    width: 100% !important;
    background-color: transparent;

}

.faquestion {
    /* border: 2px solid green; */
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    align-self: center;
    font-weight: 500;
}

#footer_content{
    font-style: Texta;
    /* border: 2px solid green; */
    align-self: start;
    
}

.faqdropdown {
    font-size: 5vh;
    font-style: Texta;

    /* border: 2px solid white; */

}


#footer_icons{
   
    padding-left: 45%;
    padding-right: 0.7%;
    display: flex;
    justify-content:flex-end;
}

#footer_container{
    width: 100%;
    display: flex;
    display: flex;
    align-items: center !important;
}

#footer_icons2{
    padding-left: 0.7%;
    padding-right: 0.7%;
}

.footer_icons_last{
    /* right: 0px; */
}