.main {
    background-image: url("/bkgrd 1.png"),url("/bkgrd 2.png"),url("/bkgrd 3.png");
    background-size: 100% ;
}

.container{
    /* width: 85%; */
    margin: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    
}